body {
  font-family: Georgia, serif;
  line-height: 1.4;
}

#container {
  margin: 0 auto;
}

#mesh-tools button {
  font-family: Georgia, serif;
}

#mesh-editor, #mesh-preview {
  min-height: 6em;
  width: 50em;
}

#mesh-editor {
  border: 1px solid gray;
  padding: 3px;
}
