#mesh-editor {
  width: 600px;
}

#mesh-content:focus {
  outline: none;
}

#mesh-content>* {
  border: 1px solid #fff;
  border-left: 10px solid #fff;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

#mesh-content>*:hover {
  border-color: #8a8;
}

#mesh-content>*.focus,#mesh-content>*.focus:hover {
  border-color: #575;
}

#mesh-content>.insert-here {
  border: 1px dashed #cfc;
  background: #fafffa;
  padding: .5em;
  border-width: 3px;
}

#mesh-content blockquote,#mesh-content blockquote:hover {
  color: #333;
  padding-left: 2em;
  margin-left: 0;
  margin-right: 0;
}

#mesh-content blockquote p:first-child {
  margin-top: 0;
}

#mesh-content blockquote p:last-child {
  margin-bottom: 0;
}

#mesh-content [unselectable=on] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mesh-tools button {
  font-family: serif;
}

#mesh-source {
  font-family: monospace;
}