body {
  background: #eee;
  font-family: helvetica, arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
}

h2:first-child {
  margin: 0 0 .5em;
}

#container {
  background: #fff;
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.mesh-editor {
  float: left;
  width: 570px;
}

#mesh-picker {
  border-left: 1px solid #eee;
  float: left;
  padding-left: 9px;
  margin-left: 10px;
  width: 370px;
}

#mesh-source {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#mesh-source>* {
  background-color: white;
  margin: 0 auto;
  padding: 8px;
  width: 570px;
}

#mesh-source>*:first-child {
  margin-top: 50px;
}

#mesh-source pre {
  line-height: 1.5;
  font-family: monospace;
  overflow-x: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#mesh-source h2 {
  margin-top: 0;
}

.mesh-status {
  background: #eee;
  border-top: 1px solid #aaa;
  padding: 4px;
  margin: .5em 0;
  font-size: 0.7em;
}

.mesh-save {
  float: right;
}

.mesh-title {
  margin-bottom: .5em;
}

.mesh-title input {
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 2em;
  outline: none;
  display: block;
  margin: 0;
  padding: 0 0 .2em;
  width: 100%;
}

.mesh-attributes {
  margin-bottom: 1em;
}

.mesh-content {
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  line-height: 1.5;
}

textarea.mesh-content {
  min-height: 30em;
}

.mesh-content:focus {
  outline: none;
}

.mesh-controls {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  display: none;
}

.mesh-controls>div {
  background-repeat: no-repeat;
  cursor: pointer;
  padding-bottom: 1px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  padding-bottom: 1px;
  width: 14px;
  height: 14px;
  opacity: .6;
  cursor: pointer;
  margin-bottom: 1px;
}

.mesh-controls>div:hover {
  opacity: 1.0;
}

.mesh-controls>div:active {
  opacity: .8;
}

.mesh-remove {
  background-image: url('res/remove.png');
}

.mesh-attrs {
  background-image: url('res/attrs.png');
}

.mesh-code {
  background-image: url('res/code.png');
}

.mesh-block:hover .mesh-controls {
  display: block;
}

.mesh-block {
  border: 1px solid #fff;
  padding-left: 12px;
  padding-right: 16px;
  margin: 1px;
  border: 1px solid transparent;
}

.mesh-block.ui-sortable-helper {
  background: rgba(255, 255, 255, .6);
  opacity: 0.8;
}

.mesh-block.ui-sortable-helper .mesh-block {
  background-color: transparent;
}

.mesh-block:hover .mesh-handle,.mesh-block.ui-sortable-helper .mesh-handle {
  display: block;
}

.mesh-block:hover,.mesh-block.ui-sortable-helper {
  border-color: #aaa;
}

.mesh-focus {
  border-color: #ccc;
  background-color: #f5f5f8;
}

.mesh-placeholder {
  background: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 1em;
}

.mesh-block {
  position: relative;
}

.mesh-handle {
  background: url("res/metal.png");
  cursor: move;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  width: 10px;
  display: none;
}

/* Don't show handle on bulk move */
.mesh-block .mesh-block .mesh-handle,.mesh-block .mesh-block .mesh-controls {
  display: none;
}

.mesh-block .mesh-block:hover {
  border-color: 1px solid #ccc;
}

.mesh-content p {
  margin: 0;
  padding: 1em 16px;
}

.mesh-content blockquote {
  color: #555;
  margin: .5em 0 .5em 1em;
  padding: .5em 1em .5em 1em;
  border-left: 2px solid #ddd;
}

.mesh-content pre {
  font-family: monospace;
  margin: 0;
}

.mesh-tools {
  background: #eee;
  border: 1px solid #aaa;
  margin-bottom: .5em;
  position: relative;
  overflow: hidden;
}

.mesh-button {
  background: #ddd;
  background: linear-gradient(to bottom, #fff 0%, #d9d9d9 100%);
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 4px 0 5px 5px;
  text-align: center;
  text-shadow: 1px 1px 0 #eee;
  -webkit-box-shadow: 1px 1px 0 #999;
  -moz-box-shadow: 1px 1px 0 #999;
  box-shadow: 1px 1px 0 #999;
  min-width: 1.2em;
}

.mesh-button:active,.mesh-button.active {
  background: linear-gradient(to bottom, #d9d9d9 0%, #fff 100%);
  box-shadow: 1px 1px 0 #999, inset 1px 1px 3px #bbb;
}

.mesh-button.disabled,.mesh-button.disabled:active {
  background: linear-gradient(to bottom, #fff 0%, #d9d9d9 100%);
  box-shadow: 1px 1px 0 #999;
  color: #bbb;
  outline: none;
}

.mesh-dropdown {
  margin-left: 8px;
  min-width: 10em;
}

.mesh-tools .fa {
  font-size: 14px;
}

.mesh-divider {
  height: 1em;
  margin: 4px 3px 5px;
}

#mesh-attr-editor,#mesh-code-editor {
  background: rgba(0, 0, 0, .6);
  display: none;
  position: fixed;
  margin-bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#mesh-attr-editor table,#mesh-code-editor textarea {
  background: white;
  width: 570px;
  margin: 50px auto;
}

#mesh-attr-editor th {
  font-weight: normal;
  text-align: left;
}

#mesh-attr-editor table input {
  font-family: monospace;
  width: 99%;
}

#mesh-attr-editor table td:last-child {
  text-align: right;
}

#mesh-results {
  max-height: 600px;
  overflow: auto;
}

#mesh-results .load-more {
  cursor: pointer;
  background: #bdf;
  border: 1px solid #9bc;
  border-radius: 3px;
  padding: .2em;
  text-align: center;
}

#mesh-results .load-more:active {
  background: #ace;
}